body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000; 
    color: white;   

}

.container {
    max-width: 300px;
    margin: auto;
}

.playlist li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.playlist li:hover {
    background: #1db954;
}

.player button {
    font-size: 20px;
    margin: 5px;
}
.volume-control {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.volume-control input {
    width: 100px;
}
.progress-container {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

#progress {
    height: 100%;
    width: 0%;
    background: #1db954;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #aaa;
}

.cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin: 10px auto;
  display: block;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}   
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  padding: 10px 20px;
  color: white;
}

.topbar .left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spotify-logo {
  font-size: 28px;
  color: white;
}

.search {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  gap: 8px;
}

.search input {
  border: none;
  outline: none;
  font-size: 14px;
}

.topbar .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar .right a {
  color: #b3b3b3;
  text-decoration: none;
}

.login-btn {
  background: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
}